services:
  database:
    image: postgres:17.4
    environment:
      POSTGRES_USER: playground
      POSTGRES_PASSWORD: playground
      POSTGRES_DB: playground
    ports:
      - "5432:5432"
    volumes:
      - database-data:/var/lib/postgresql/data
      - ./container/local-db/init-scripts:/docker-entrypoint-initdb.d
    # Add build context to install extensions
    build:
      context: ./container/local-db
      dockerfile: Dockerfile.postgres
    profiles:
      - development
      - development-full
  file-bucket:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: playground
      MINIO_ROOT_PASSWORD: playground
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - file-bucket-data:/data
    profiles:
      - development
      - development-full

volumes:
  database-data:
  file-bucket-data:
